In [1]:
# Importing needed Lib
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline
#We are setting the seed to assure you get the same answers on quizzes as we set up
random.seed(42)

# Conditional Probability
(Optional)

In [2]:
df = pd.read_csv('cancer_test_data.csv')
df.head()

   patient_id test_result  has_cancer
0       79452    Negative       False
1       81667    Positive        True
2       76297    Negative       False
3       36593    Negative       False
4       53717    Negative       False

In [6]:
# What proportion of patients who tested positive has cancer?
df[df['test_result']=='Positive'].has_cancer.mean()

0.34282178217821785

In [7]:
# What proportion of patients who tested positive doesn't have cancer?
1-df[df['test_result']=='Positive'].has_cancer.mean()

0.6571782178217822

In [10]:
df.groupby('test_result').has_cancer.value_counts()

test_result  has_cancer
Negative     False         2077
             True            29
Positive     False          531
             True           277
Name: has_cancer, dtype: int64

In [11]:
531/(531+277)

0.6571782178217822

In [12]:
# What proportion of patients who tested negative has cancer?
df[df['test_result']=='Negative'].has_cancer.mean()

0.013770180436847104

In [13]:
# What proportion of patients who tested negative doesn't have cancer?
1-df[df['test_result']=='Negative'].has_cancer.mean()

0.9862298195631529

# Quiz 1:

In [14]:
# Read in the dataset "ab_data.csv" and take a look at the top few rows here
df_2 = pd.read_csv('ab_data.csv')
df_2.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [15]:
# find the number of rows in the dataset.
df_2.shape[0]

294478

In [16]:
# The number of unique users in the dataset.
df_2['user_id'].nunique()

290584

In [17]:
# The proportion of users converted.
df_2[df_2['converted']==1].user_id.nunique()/df_2['user_id'].nunique()

0.12104245244060237

In [18]:
# The number of times the new_page and treatment don't match.
df_2.query("(group == 'control' and landing_page == 'new_page') or (group == 'treatment' and landing_page == 'old_page')").shape[0]

3893

In [19]:
# Do any of the rows have missing values?
df_2.isna().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

In [20]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

# Quiz 2:

# Getting ab_data Ready

In [21]:
# Removing BY INDEX
# ROMVE the rows where treatment does not match with new_page or control does not match with old_page
df_2 = df_2.query("(group == 'control' and landing_page == 'old_page') or (group == 'treatment' and landing_page == 'new_page')")

In [23]:
# Double Check all of the correct rows were removed - this should be 0
df_2[((df_2['group'] == 'treatment') == (df_2['landing_page'] == 'new_page')) == False].shape[0]

0

In [24]:
# Given that an individual was in the control group, what is the probability they converted?
df_2[df_2['group']=='control'].converted.mean()

0.1203863045004612

In [25]:
# Given that an individual was in the treatment group, what is the probability they converted?
df_2[df_2['group']=='treatment'].converted.mean()

0.11880724790277405

In [26]:
# What is the probability that an individual received the new page?
df_2[df_2['landing_page']=='new_page'].shape[0]/df_2.shape[0]

0.5000636646764286

# Quiz 3:

In [27]:
# How many unique user_ids are in df2?
df_2.user_id.nunique()

290584

In [29]:
# There is one user_id repeated in df2. What is it?
df_2.user_id[df_2['user_id'].duplicated()]

2893    773192
Name: user_id, dtype: int64

In [31]:
# What is the row information for the repeat user_id?
df_2[df_2['user_id']==773192]

      user_id                   timestamp      group landing_page  converted
1899   773192  2017-01-09 05:37:58.781806  treatment     new_page          0
2893   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

In [32]:
# Remove one of the rows with a duplicate user_id, but keep your dataframe as df2.
df_2.drop(2893,inplace=True)

# Quiz 4:

In [33]:
# What is the probability of an individual converting regardless of the page they receive?
df_2.converted.mean()

0.11959708724499628

In [34]:
# Given that an individual was in the control group, what is the probability they converted?
df_2[df_2['group']=='control'].converted.mean()

0.1203863045004612

In [35]:
# Given that an individual was in the treatment group, what is the probability they converted?
df_2[df_2['group']=='treatment'].converted.mean()

0.11880806551510564

In [36]:
# What is the probability that an individual received the new page?
df_2[df_2['landing_page']=='new_page'].shape[0]/df_2.shape[0]

0.5000619442226688

# Quiz 5:

# AB Testing Part

Assume under the null hypothesis,  ğ‘ğ‘›ğ‘’ğ‘¤  and  ğ‘ğ‘œğ‘™ğ‘‘  both have "true" success rates equal to the converted success rate regardless of page - that is  ğ‘ğ‘›ğ‘’ğ‘¤  and  ğ‘ğ‘œğ‘™ğ‘‘  are equal. Furthermore, assume they are equal to the converted rate in ab_data.csv regardless of the page.

In [ ]:
# What is the conversion rate for  ğ‘ğ‘›ğ‘’ğ‘¤  under the null?

In [ ]:
# What is the conversion rate for  ğ‘ğ‘œğ‘™ğ‘‘  under the null?

In [ ]:
# What is  ğ‘›ğ‘›ğ‘’ğ‘¤ , the number of individuals in the treatment group?

In [ ]:
# What is  ğ‘›ğ‘œğ‘™ğ‘‘ , the number of individuals in the control group?

In [ ]:
# Simulate  ğ‘›ğ‘›ğ‘’ğ‘¤  transactions with a conversion rate of  ğ‘ğ‘›ğ‘’ğ‘¤  under the null. 
# Store these  ğ‘›ğ‘›ğ‘’ğ‘¤  1's and 0's in new_page_converted.

In [ ]:
# Simulate  ğ‘›ğ‘œğ‘™ğ‘‘  transactions with a conversion rate of  ğ‘ğ‘œğ‘™ğ‘‘  under the null.
# Store these  ğ‘›ğ‘œğ‘™ğ‘‘  1's and 0's in old_page_converted

In [ ]:
# Find  ğ‘ğ‘›ğ‘’ğ‘¤  -  ğ‘ğ‘œğ‘™ğ‘‘  for your simulated values from part (e) and (f).

In [ ]:
# Create 10,000  ğ‘ğ‘›ğ‘’ğ‘¤  -  ğ‘ğ‘œğ‘™ğ‘‘  values using the same simulation process you used in parts (a) through (g) above. 
# Store all 10,000 values in a NumPy array called p_diffs.

In [ ]:
# Plot the Dist

In [ ]:
# Caclculate P-Value

In [ ]:
# Use Stats. model to calculate p-value